@namespace "http://www.w3.org/1999/xhtml";

@-moz-document domain("gitlab.com") {

    @background:   #1d1f21;
    @current-line: #282a2e;
    @selection:    #373b41;
    @foreground:   #c5c8c6;
    @comment:      #969896;
    @red:          #cc6666;
    @orange:       #de935f;
    @yellow:       #f0c674;
    @green:        #b5bd68;
    @aqua:         #8abeb7;
    @blue:         #81a2be;
    @purple:       #b294bb;
    @white:        #ffffff;

    @gl-ui: @comment;

    .commit-link { color: @green !important; }
    .author-link { color: @purple !important; }
    .milestone-link { color: @orange !important; }
    .issue-link { color: @red !important; }
    .mr-link { color: @yellow !important; }

    .separator-color {
        color: @gl-ui;
    }

    .separator-background {
        color: @background;
        background: @gl-ui;
    }

    .separator-border {
        border-right: 2px solid @gl-ui;
        border-bottom: 2px solid @gl-ui;
        background-color: @background;
    }

    .separator-border {
        border-color: @gl-ui;
    }

    body {
        background: @background;
        color: @foreground;
        font-family: sans-serif;

        &.navless {
            background-color: @background !important;
        }

        &.ui_charcoal {
            .page-with-sidebar {
                .header-logo {
                    background-color: inherit;
                    border-color: @selection;

                    a {
                        color: @foreground;

                        h3 {
                            color: @foreground;
                        }
                    }

                    &:hover {
                        background-color: @selection;
                        a {
                            color: @foreground;
                        }
                    }
                }

                .collapse-nav a {
                    color: @foreground;
                    .separator-border;
                }

                .sidebar-wrapper {
                    .separator-border;

                    .sidebar-user {
                        color: @foreground;
                        .separator-border;

                        &:hover {
                            background-color: @background;
                            color: @foreground;
                        }
                    }
                }

                .nav-sidebar li {
                    a {
                        color: @foreground;

                        &:hover, &:focus, &:active {
                            background: @selection;
                        }

                        i {
                            .separator-color;
                        }

                        .count {
                            color: @foreground;
                            background: @selection;
                        }
                    }

                    &.separate-item {
                        border-top: 1px solid @selection;
                    }

                    &.active a {
                        .separator-background;

                        &.no-highlight {
                            border: none;
                        }

                        i {
                            color: @background;
                        }
                    }
                }
            }
        }
    }

    a {
        color: @blue;

        &:hover {
            color: @blue;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: @white;
    }

    header {
        &.navbar-empty {
            background: @background;
            border-bottom: 1px solid @current-line;
        }

        &.navbar-gitlab {
            .separator-border;

            .container-fluid {
                .nav > li > a {
                    .separator-color;

                    &:hover, &:focus, &:active {
                        background-color: @background;
                    }
                }

                .navbar-toggle {
                    color: @comment;

                    &:hover {
                        background-color: @foreground;
                    }
                    &:active {
                        color: @green;
                    }
                }
            }
        }

        .header-content {
            .title {
                .separator-color;

                a {
                    .separator-color;
                }
            }
        }

        .search {
            .search-input {
                &:focus {
                    background-color: @selection;
                    .separator-border;
                }

                .separator-border;

            }
        }

        .impersonation i {
            color: @red;
        }
    }

    .pre {
        color: @foreground !important;
        border: none;
        border-left: 4px solid @aqua;
        background: @current-line;
    }

    pre, code {
        .pre;

        &.well-pre {
            border: none;
            border-left: 4px solid @aqua;
            background: @selection;
            color: @aqua;
        }

        > code {
            border: none;
        }
    }

    textarea {
        background: @selection;
        color: @foreground;

        &.js-gfm-input {
            background: @selection;
            color: @foreground;
        }
    }

    .lists-separator {
        border-color: @current-line;
    }

    .code {
        color: @aqua;

        &.dark {
            .pre;

            .line_holder {
                .line_content, .diff-line-num {
                    &.new.diff-line-num { border-color: @current-line; }
                }
                .line_content, .diff-line-num {
                    &.old.diff-line-num { border-color: @current-line; }
                }
            }
        }
    }

    .badge {
        background-color: @selection !important;
        color: @foreground !important;
    }

    .top-area {
        border-bottom: 1px solid @current-line;
    }

    .nav-links {
        border-bottom: 1px solid @current-line;

        li {
            a {
                color: @comment;
            }

            &.active {
                a {
                    color: @gl-ui;
                    border-bottom: 2px solid @gl-ui;
                }
            }

            &.badge {
                background-color: @comment;
                color: @blue;
            }

            .badge {
                .badge;
            }
        }
    }

    .content-wrapper {
        .container-fluid {
            background: transparent;

            &.container-blank {
                background: transparent;
            }
        }
    }

    .sidebar-wrapper {
        background: @background;

        .header-logo {
            border-bottom: none;
        }

        a {
            &:hover {
                background-color: @selection;
            }
        }
    }

    .blob-commit-info {
        background: @background;
        border: 1px solid @selection;
    }

    .blob-upload-dropzone-previews {
        border-color: @selection;
    }

    .light-well {
        background-color: @current-line;
    }

    .upload-link {
        color: @green;
    }

    .centered-light-block {
        color: @foreground;
    }

    .nothing-here-block {
        color: @foreground;
    }

    .gray-content-block {
        background-color: @background;
        border-top: 1px solid @selection;
        border-bottom: 1px solid @selection;
        color: @foreground;

        &.white {
            background-color: @background;
        }

        .title {
            color: @foreground;
        }

        > p:last-child {
            margin-bottom: 0;
        }
    }

    .cover-block {
        background: @background;

        .cover-title {
            color: @foreground;
        }

        .cover-desc {
            color: @foreground;
        }

    }

    .content-block {
        border-bottom: 1px solid @selection;
    }

    .button-variant(@fg, @bg, @hfg, @hbg) {
        color: @fg;
        background-color: @bg;
        border-color: @bg;

        &:focus, .focus {
            color: @fg;
            background-color: @bg;
            border-color: @bg;
        }

        &:hover {
            color: @hfg;
            background-color: @hbg;
            border-color: @hbg;
        }
    }

    .btn {
        .button-variant(@foreground, @current-line, @foreground, @selection);

        &.btn-success,
        &.btn-new,
        &.btn-create,
        &.btn-save {
            .button-variant(@background, @green, @background, @green);
        }

        &.btn-gray {
            .button-variant(@foreground, @current-line, @background, @comment);
        }

        &.reply-btn,
        &.btn-info,
        &.btn-primary {
            .button-variant(@background, @blue, @background, @blue);
        }

        &.btn-close,
        &.btn-warning {
            .button-variant(@background, @orange, @background, @orange);
        }

        &.btn-danger,
        &.btn-remove,
        &.btn-red {
            .button-variant(@background, @red, @background, @red);
        }
    }

    .input-group-btn {
        border: none;
        background-color: @current-line !important;

        .active {
            background-color: @green !important;
            border: none !important;;
            color: @background;
        }
    }

    .git-clone-holder {
        .form-control {
            background: @current-line;
            border: none;
        }
    }

    .user-calendar-activities {
        .text-expander {
            background: @current-line;
            color: @foreground;

            &:hover {
                background-color: @selection;
            }
        }
    }

    .calendar {
        .qi {
            fill: @background;
        }

        .q1 {
            fill: @current-line !important;
        }

        .q2 {
            fill: @blue !important;
        }

        .q3 {
            fill: @aqua !important;
        }

        .q4 {
            fill: @purple !important;
        }

        .q5 {
            fill: @green !important;
        }
    }

    .cal-heatmap-container {
        .graph-rect {
            fill: @background;
        }
    }

    .bs-callout {
        border-left: 3px solid @current-line;
        color: @foreground;
        background: @background;
    }

    .bs-callout-danger {
        background-color: #fdf7f7;
        border-color: #eed3d7;
        color: #b94a48;
    }

    .bs-callout-warning {
        background-color: @red;
        border-color: @red;
        color: @background;
    }

    .bs-callout-info {
        background-color: @blue;
        border-color: @blue;
        color: @background;
    }

    .bs-callout-success {
        background-color: @green;
        border-color: @green;
        color: @background;
    }

    .cgray { color: @comment; }
    .clgray { color: @foreground; }
    .cred { color: @red; }
    .cgreen { color: @green; }
    .cdark { color: @selection; }

    .hint { color: @purple; }
    .light { color: @foreground; }

    .slead {
        color: @foreground;
    }

    .dropdown-menu {
        border: 1px solid @current-line;
        background-color: @current-line;
        color: @foreground;

        > li > a {
            color: @foreground;;

            &:hover, &:focus {
                background-color: @selection;
                color: @background;
            }
        }


        li {
            a {
                color: @foreground;

                &:hover {
                    background-color: @selection !important;
                    color: @foreground;
                }
            }
        }

        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: @selection;
            }

            // Nuke hover/focus effects
            &:hover,
            &:focus {
                background-color: transparent;
            }
        }
    }

    .loading {
        color: @foreground;
    }

    span.update-author {
        color: @purple;
    }

    .user-mention {
        color: @aqua;
    }

    p.time {
        color: @purple;
    }

    .project_member_show {
        td:first-child {
            color: @background;
        }
    }

    .git_error_tips {
        pre {
            background: @selection;
        }
    }

    .error-message {
        background: @red;
        color: @background;

        a {
            color: @white;
        }
    }

    .browser-alert {
        background: @orange;
        color: @background;

        a {
            color: @white;
        }
    }

    .warning_message {
        border-left: 4px solid @orange;
        color: @background;
        background: @orange;

    }

    .gitlab-promo {
        a {
            color: @foreground;
        }
    }

    .milestone {
        &.milestone-closed {
            color: @comment;
            background: @background;
        }
    }

    .issues-list {
        .issue {
            .issue-info {
                a[href*="milestone_title"] {
                    .milestone-link;
                }
            }

            .issue-title {
                a {
                    .issue-link;
                }
            }
        }
    }

    .issue, .merge-request {
        &.today {
            background-color: @background;
            border-color: @current-line;
        }

        &.closed {
            background-color: @background;
            border-color: @current-line;
            opacity: 0.4;

            &:hover {
                opacity: 0.75;
                transition-duration: 1s;
            }
        }

        &.merged {
            background-color: @background;
            border-color: @current-line;
            opacity: 0.4;

            &:hover {
                opacity: 0.75;
                transition-duration: 1s;
            }
        }
    }

    .milestones {
        .milestone {
            a {
                .milestone-link;
            }
            a[href*="/issues/"], a[href*="/issues?"] {
                .issue-link;
            }
            a[href*="merge_request"] {
                .mr-link;
            }
        }
    }

    .mr-list {
        .merge-request {
            .merge-request-title-text {
                a {
                    .mr-link;
                }
            }
            .merge-request-info {
                color: @foreground;

                a[href*="milestone"] {
                    .milestone-link;
                }
            }
        }
    }

    .mr-state-widget {
        background: @background;
        color: @foreground;
        border: 1px solid @current-line;

        .ci_widget {
            border-bottom: 1px solid @current-line;
            color: @foreground;

            &.ci-failed {
                color: @red;
            }

            &.ci-running {
                color: @orange;
            }

            &.ci-success {
                color: @green;
            }
        }

        .mr-widget-body {
            color: @foreground;

            h4 {
                color: @foreground;
            }
        }

        .mr-widget-footer {
            color: @foreground;
            border-top: 1px solid @current-line;
        }
    }

    .merge-request-id {
        .mr-link;
    }

    .merge-request-info {
        a[href*="merge_request"] {
            .mr-link;
        }
    }

    .back-to-milestone {
        a[href*="milestone"] {
            .milestone-link;
        }
    }

    .control-group {
        .controls {
            span {
                &.descr {
                    color: @foreground;
                }
            }
        }
    }

    table {
        &.table {
            tr {
                th {
                    background-color: @background;
                    color: @foreground;
                    border-bottom: 1px solid @current-line;
                }

                td {
                    border-color: @current-line;
                }

                &:hover {
                    td {
                        background-color: @current-line;
                    }
                    color: @foreground;
                }
            }

        }

        td.permission-x {
            background: @aqua !important;
        }
    }

    .tree-holder {
        .tree-table {
            tr {
                &:hover {
                    td {
                        background-color: @current-line;
                    }
                }

                &.selected {
                    td {
                        background-color: @background;
                        border-top: 1px solid @current-line;
                        border-bottom: 1px solid @current-line;
                    }
                }
            }
        }

        .tree-item {
            .tree-item-file-name {
                a, i {
                    color: @blue;
                }

            }
        }

        .tree_commit {
            .tree-commit-link {
                .commit-link;
            }
        }
    }

    .last-commit a {
        .commit-link;
    }

    .dashboard-intro-icon {
        color: @foreground;
    }

    .header-with-avatar {
        .username {
            color: @foreground;
        }

        .description {
            color: @foreground;
        }
    }

    .profiler-results {
        .profiler-button,
        .profiler-controls {
            border-color: @foreground !important;
        }
    }

    .dropzone .dz-preview .dz-progress {
        border-color: @current-line !important;
    }

    .dropzone .dz-preview .dz-progress .dz-upload {
        background: @green !important;
        color: @foreground;
    }

    .content-separator {
        border-top: 1px solid @current-line;
    }

    .file-holder {
        border: none;
        border: 1px solid @current-line;

        .code.dark {
            border-left: none;
        }

        .file-title {
            background: @background;
            border-bottom: 1px solid @current-line;

            .filename {
                &.old {
                    span.idiff {
                        background-color: @red;
                    }
                }

                &.new {
                    span.idiff {
                        background-color: @green;
                    }
                }
                a {
                    &:not(.btn) {
                        color: @foreground !important;
                    }
                }
            }
        }

        .file-content {
            background: @foreground;

            &.image_file {
                background: @foreground;
            }

            &.blob-no-preview {
                background: @selection;
                text-shadow: 0 1px 2px @foreground;
            }

            &.blame {
                tr {
                    border-bottom: 1px solid @selection;
                }
                td.blame-commit {
                    background: @current-line;

                    .commit-author-link {
                        color: @purple;
                    }
                }

                td.line-numbers {
                    border-left: 1px solid @current-line;
                }
            }

            &.logs {
                background: @current-line;

                ol {
                    border-left: 1px solid @current-line;
                    background: @background;

                    li {
                        color: @foreground;

                        p {
                            color: @foreground;
                        }

                        &:hover {
                            background: @white;
                        }
                    }
                }
            }
        }
    }

    .alert-variant(@fg, @bg) {
        background-color: @bg;
        border-color: @bg;
        color: @fg;

        .alert-link {
            color: @foreground;
        }
    }

    .flash-container {
        .flash-notice {
            .alert-variant(@background, @blue);
        }

        .flash-alert {
            .alert-variant(@background, @red);
        }
    }

    input[type='search'] {
        background-color: @selection;

        &.search-input {
            background-color: @selection;
        }
    }

    input[type='text'] {
        &.danger {
            background: @selection;
            border-color: @red;
        }
    }

    .form-actions {
        background-color: @background;
        border-top: 1px solid @current-line;
    }

    .input-group {
        .input-group-addon {
            background-color: @background;
        }
    }

    .form-control {
        background-color: @selection;
        color: @foreground;
        border: 1px solid @comment;
    }

    .panel {
        background-color: @background;
        color: @foreground;
        border: 1px solid @current-line;
    }

    .panel-default {
        border-color: @current-line;

        > .panel-heading {
            background-color: @selection;
            color: @green;
            border-color: @green;
        }
    }

    .panel-warning {
        border-color: @orange;

        > .panel-heading {
            color: @background;
            background-color: @orange;
            border-color: @orange;
        }
    }

    .panel-danger {
        border-color: @red;

        > .panel-heading {
            color: @background;
            background-color: @red;
            border-color: @red;
        }
    }

    .projects-list {
        .project-row {
            border-color: @current-line;

            a.project {
                color: @blue;

                &:visited {
                    color: @blue;
                }
            }
        }

        >li {
            border-bottom: 1px solid @current-line;
        }
    }

    .wiki {
        color: @foreground;

        h1, h2, h3, h4, h5, h6 {
            color: @green;
        }

        h1 {
             border-bottom: 1px solid @current-line;
        }

        p {
            color: @foreground;
        }

        a {
            color: @aqua;
        }
    }

    .ci-label(@fg, @bg) {
        color: @bg;
        background-color: @fg;
        border-color: @fg;
    }

    .ci-status {
        &.ci-running {
            .ci-label(@orange, @background);
        }

        &.ci-failed {
            .ci-label(@red, @background);
        }

        &.ci-success {
            .ci-label(@green, @background);
        }

        &.ci-pending {
            .ci-label(@comment, @background);
        }
    }

    .container-fluid {
        .ci-status {
            &.ci-running {
                .ci-label(@orange, @background);
            }

            &.ci-failed {
                .ci-label(@red, @background);
            }

            &.ci-success {
                .ci-label(@green, @background);
            }

            &.ci-pending {
                .ci-label(@comment, @background);
            }
        }
    }

    .ci-status-icon-success {
        color: @green;
    }

    .project-home-panel {
        .project-home-desc {
            h1 {
                color: @white;
            }

            p {
                color: @foreground;
            }
        }

        .project-repo-buttons {
            .btn {
                .btn;
            }

            .count-with-arrow {
                .arrow {
                    &::before, &::after {
                        border-right-color: @comment;
                    }
                }

                .count {
                    .button-variant(@background, @comment, @background, @comment);
                }
            }
        }

        .visibility-level-label {
            .btn;
        }
    }

    .project-stats {
        .nav {
            > li {
                > a {
                    .btn;
                }
            }
        }
    }

    .commit_short_id {
        .commit-link;
    }

    .commit-row-message {
        .commit-link;
    }

    .commit-message-container > textarea {
        background-color: @current-line;
    }

    .commit-author-name {
        color: @purple;
    }

    .project-last-commit {
        .commit_short_id {
            .commit-link
        }

        .commit-row-message {
            .commit-row-message;
        }

        .commit-author-link {
            .commit-author-name {
                .commit-author-name;
            }
        }
    }

    ul {
        &.bordered-list {
            > li {
                border-bottom: 1px solid @current-line;
            }
        }
    }

    .commits-row {
        .commits-row-date {
            color: @comment;
        }
    }

    li.commit {
        .commit-row-title {
            .commit-row-message {
                .commit-row-message;
            }

            .text-expander {
                color: @foreground;
                background: @background;

                &:hover {
                    background: @selection;
                }
            }

            .commit_short_id {
                .commit-link;
            }
        }

        .commit-row-info {
            color: @foreground;

            a {
                color: @green
            }
        }

        .commit-row-description {
            .pre;
        }
    }

    .namespace-name, .project-name { color: @aqua; }

    .branch-commit {
        .commit-id {
            .commit-link;
        }

        .commit-row-message {
            color: @blue;
        }
    }

    .label-branch {
        color: @red;
    }

    .file-holder {
        .file-content {
            background: transparent;

            &.wiki {
            }
        }
    }

    ul.content-list {
        > li {
            border-color: @current-line;
            color: @foreground;

            a {
                 color: @blue;
            }
        }
    }

    .divergence-graph {
        .graph-side {
            .bar {
                background-color: @orange;
            }
        }

        .graph-separator {
            background-color: @orange;
        }

        .graph-side {
            .count {
                color: @foreground;
            }
        }
    }

    .label {
        color: @foreground;

        &.label-gray {
            color: @background;
            background-color: @comment;
        }

        &.color-label {
            color: @background;
        }
    }

    .label-success {
        color: @background !important;
        background-color: @green;
    }

    .label-primary {
        color: @background;
        background-color: @blue;
    }

    .label-danger {
        color: @background;
        background-color: @red;
    }

    .common-note-form {
        color: @foreground;
        background-color: @background;

        .md-area {
            border: 1px solid @current-line;
        }
    }

    .note-form-actions {
        color: @foreground;
        background-color: @background;
    }

    .markdown-area {
        background: @selection;
        border: 1px solid @current-line;
    }

    .comment-hints {
        color: @foreground;
        background-color: @background;
        border: 1px solid @current-line;
    }

    .right-sidebar {
        background: transparent;
        color: @foreground;

        &.right-sidebar-expanded {
        }

        .btn {
            .btn;
        }
    }

    .issuable-sidebar {
        .title {
            color: @aqua;
        }

        .block {
            &.milestone {
                a[href*="/milestones/"] {
                    .milestone-link;
                }
            }
        }
    }

    .issue.today {
        background: @background;
        border-color: @current-line;
    }

    .pagination {
        > .disabled {
            > span {
                background-color: @current-line;
                border-color: @current-line;
                color: @selection;

                &:hover {
                    background-color: @current-line;
                    border-color: @current-line;
                    color: @selection;
                }
            }
        }

        > li {
            > a, > span {
                background-color: @background;
                color: @gl-ui;
                border: 1px solid @current-line;

                &:hover {
                    background-color: @selection;
                    color: @gl-ui;
                    border: 1px solid @current-line;
                }
            }
        }

        > .active {
            > a {
                background-color: @gl-ui;
                color: @background;
                border: 1px solid @current-line;
            }
        }
    }

    .gl-pagination {
        border-top: 1px solid @current-line;
    }

    .dash-project-avatar {
        .avatar {
            background-color: @purple !important;
            color: @background !important;
        }
    }

    .commit-box {
        .commit-title {
            color: @foreground;
        }
    }

    a[href*="/u/"] { .author-link; }
    .gfm-issue { .issue-link; }
    .gfm-merge_request { .mr-link; }

    .diff-file {
        border: 1px solid @current-line;
        border-top: none;

        .diff-header {
            background: @background;
            border-bottom: 1px solid @current-line;
            color: @foreground;

            .diff-title {
                .file-mode {
                    color: @comment;
                }
            }
        }
        .diff-content {
            background: @background;
            color: @foreground;;

            .file-mode-changed {
                color: @comment;
            }

            .old_line {
                border-right: 1px solid @current-line;
            }
            .new_line {
                border-right: 1px solid @current-line;
                border-left: 1px solid @current-line;
            }
        }
        .image {
            background: @background;

            .frame {
                background-color: @background;
                img {
                    border: 1px solid @current-line;
                }
                &.deleted {
                    border: 1px solid @red;
                }

                &.added {
                    border: 1px solid @green;
                }
            }
            .image-info {
                color: @foreground;
            }

            .view.swipe {
                .swipe-wrap {
                    border-left: 1px solid @current-line;
                }
            }
        }
        .view-modes {
            background: @background;

            li {
                color: @foreground;
                border-left: 1px solid @current-line;
                &.active {
                    color: @foreground;
                }
            }
        }
        .notes_holder {
            td {
                border: 1px solid @current-line;

                &.notes_line, &.notes_content {
                    background: @background;
                    color: @foreground;
                }
            }
        }
    }

    .progress {
        background-color: @current-line;
    }

    .progress-bar {
        color: @foreground;
        box-shadow: none;
    }

    .progress-bar-success {
        background-color: @green;
    }

    .event-item {
        border-bottom: 1px solid @current-line;
        color: @comment;

        a {
            color: @blue;
        }

        .event-title {
            .author_name {
                .author-link;
            }
        }

        .event-body {
            .event-note {
                .md {
                    color: @comment;
                }

                pre {
                    border: none;
                    background: @current-line;
                    color: @foreground;
                }
            }

            .event-note-icon {
                color: @foreground;
            }
        }
        .event_icon {
            border: 1px solid @current-line;
            background: @current-line;
        }

        .event_commits {
            li {
                &.commit {
                    background: transparent;
                }

                &.commits-stat {
                    &:hover {
                        background: none;
                    }
                }
            }
        }
    }

    .md {
        p {
            color: @comment;
        }
    }

    .timeline {
        .timeline-entry {
            border-color: @current-line;
            color: @comment;
            border-bottom: 1px solid @current-line;

            &:target {
                background: @selection;
            }
        }

        .system-note {
            .note-text {
                color: @current-line !important;
            }
        }

        .diff-file {
            border: 1px solid @current-line;
        }
    }

    ul.notes {
        .system-note {
            background: @current-line;
        }

        .discussion-header,
        .note-header {
            color: @comment;

            .discussion-last-update,
            .note-last-update {
                &:before {
                    content: "\00b7";
                }

                a {
                    color: @comment;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .author {
                .author-link;

                &:hover {
                    .author-link;
                }
            }

            .note-role {
                border: 1px solid @current-line;
                background-color: transparent;
                color: @comment;
            }
        }

        .note {
            .note-body {
                .note-text {
                    color: @comment;

                    hr {
                        border-color: @current-line;
                    }

                    p, li {
                        color: @comment;
                    }

                    h1, h2, h3, h4, h5, h6 {
                        color: @foreground;
                    }

                    a[href*="/milestone/"] {
                        .mr-link;
                    }

                    a[href*="/commit/"] {
                        .commit-link;
                    }
                    a {
                        color: @blue;
                    }
                }
            }

            &:last-child {
                border-bottom: 1px solid @current-line;
            }
        }
    }

    .discussion-body, .diff-file {
        .notes .note {
            border-color: @current-line;
        }

        .discussion-reply-holder {
            background: @background;
            border-top: 1px solid @current-line;
        }
    }

    .comment-hints {
        color: @foreground;
        background: @background;
        border: 1px solid @current-line;
    }

    .awards {
        .award {
            background: @current-line;
            border-color: @current-line;
            &:hover {
                background-color: @selection;
            }
            &.active {
                background-color: @selection;

                &:hover {
                    background-color: @selection;
                }
            }
        }
    }

    .detail-page-header {
        border-bottom: 1px solid @current-line;
        color: @foreground;

        .author {
            .author-link;
        }

        .identifier {
            .gfm-issue;
        }
    }

    .detail-page-description {
        .title {
            color: @foreground;
        }
    }

    .builds {
        tr {
            td {
                a[href*="/commit/"] {
                    .commit-link;
                }
            }
        }
    }

    .prepend-top-default {
        > p {
            a[href*="/commit/"] {
                .commit-link;
            }
        }
        .commit-info-row {
            a[href*="/commit/"] {
                .commit-link;
            }
        }
    }

    .ui-widget {
        &.ui-datepicker-inline {
            border: 1px solid @current-line;

            .ui-datepicker-header {
                background: @background;
                border-color: @current-line;
            }
        }

        &.ui-autocomplete {
            border-color: @current-line;
        }

        .ui-state-default {
            border: 1px solid @current-line;
            background: @background;
            color: @foreground;
        }

        .ui-state-highlight {
            border: 1px solid @current-line;
            background: @selection;
        }

        .ui-state-active {
            border: 1px solid @current-line;
            background: @selection;
            color: @foreground;
        }

        .ui-state-hover,
        .ui-state-focus {
            border: 1px solid @current-line;
            background: @selection;
            color: @foreground;
        }
    }

    .well-list {

        > li {
            border-bottom: 1px solid @current-line;

            &.disabled {
                color: @comment;
            }

            &.unstyled {
                &:hover {
                    background: none;
                }
            }

            &.warning-row {
                background-color: @orange;
                border-color: @current-line;
                color: @background;
            }

            &.smoke { background-color: @background; }

            &:hover {
                background: @selection;
            }

            &:last-child {
                border-bottom: none;

                &.bottom {
                    background: @background;
                }
            }

            p {
                color: @comment;
            }
        }
    }

    .referenced-users {
        .author-link;
    }

    .md-preview-holder {
        background: @background;
        border: 1px solid @current-line;
    }

    .markdown-area {
        .md-preview-holder;
    }

    .table-striped {
        > tbody
        > tr:nth-of-type(2n+1) {
            background-color: @background;
        }
    }

    .build-page {
        pre.trace {
            background: @background;
            color: @foreground;
        }

        .build-widget {
            background: @background;

            .title {
                color: @foreground;
            }
            .attr-name {
                color: @foreground;
            }

            a[href*="/commit/"] {
                .commit-link;
            }
        }

        .alert-disabled {
            background: @background;

            a {
                color: @blue;
            }
        }
    }




    .dropdown-menu-toggle {
        background-color: @current-line;
        color: @foreground;
        border: 1px solid @current-line;

        .fa {
            color: @foreground;
        }

        &:hover, {
            border-color: @current-line;
        }
    }

    .open {
        .dropdown-menu-toggle {
            border-color: @current-line;
        }
    }

    .dropdown-menu {
        background-color: @current-line;
        border: 1px solid @current-line;
        padding: 0;

        .divider {
            background-color: @current-line;
        }

        a {
            color: @foreground;

            &:hover,
            &:focus,
            &.is-focused {
                background-color: @selection;
            }
        }
    }

    .dropdown-header {
        color: @foreground;
    }

    .dropdown-title {
        border-bottom: 1px solid @current-line;
    }

    .dropdown-title-button {
        color: @foreground;

        &:hover {
            color: @foreground;
        }
    }



    .dropdown-input {
        .fa {
            color: @foreground;
        }
    }

    .dropdown-input-field {
        color: @foreground;
        border: 1px solid @selection;
        background-color: @current-line;

        &:focus {
            color: @foreground;
            border-color: @selection;

            + .fa {
                color: @foreground;
            }
        }

        &:hover {
            + .fa {
                color: @foreground;
            }
        }
    }

    .dropdown-footer {
        border-top: 1px solid @current-line;
    }

    .dropdown-loading {
        background-color: @current-line;
    }

    .select2-container, .select2-container.select2-drop-above {
        .select2-choice {
            background: @current-line;
            border-color: @current-line;
            color: @foreground;

            .select2-arrow {
                b {
                    color: @foreground;
                }
            }

            &:hover {
                background-color: @selection;
                border-color: @selection;
                color: @foreground;
            }
        }
    }

    .select2-drop{
        .dropdown-menu;
    }

    .select2-highlighted {
        background: @selection !important;
    }

    .select2-results li.select2-result-with-children > .select2-result-label {
        color: @foreground;
    }

    .select2-dropdown-open {
        .select2-choice {
            border-color: @current-line;
            background-image: none;
            background-color: @current-line;
        }
    }

    .select2-container-multi {
        .select2-choices {
            border-color: @current-line;
            background: none;
            color: @foreground;

            .select2-search-field input {
                .dropdown-input-field;
            }

            .select2-search-choice {
                border-color: @current-line;
                color: @foreground;
                line-height: 15px;
                background-color: @current-line;
                background-image: none;

                &.select2-search-choice-focus {
                    border-color: @selection;
                }
            }
        }

        &.select2-container-active .select2-choices,
        &.select2-dropdown-open .select2-choices {
            border-color: @selection;
        }
    }

    .select2-drop-active {
        .select2-results {
            .select2-highlighted {
                background: @selection;
            }
        }
    }

    .select2-search input {
        .dropdown-input-field;
    }

    .select2-search input.select2-active {
        background-color: @background;
    }

    .select2-results .select2-no-results,
    .select2-results .select2-searching,
    .select2-results .select2-ajax-error,
    .select2-results .select2-selection-limit {
        background: @background;
    }
}
